<body>

    <div class="main-content">
        <h3>Welcome to the Home Page from:</h3>
        <p> GamePort.it</p>
        <div class="main-c2">
            <ul>
                <li>
                    <a routerLink="/login">
                        <i class="center">Login</i>
                    </a>
                </li>
                <li>
                    <a routerLink="/register">
                        <i class="center">Register</i>  
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <p class="hide">We wish you a good time in our Web Page.</p>

</body>