<section class="main">
    <section id="skills" class="skills">
        <div class="container">
            <h2>Skills</h2>
            <ul class="skills-list">
                <li>HTML & CSS</li><p></p>
                <li>JavaScript</li><p></p>
                <li>Angular</li><p></p>
                <li>TypeScript</li><p></p>
                <li>Node.js</li><p></p>
                <li>Express.js</li><p></p>
                <li>Next to Learn: React and Next.js</li><p></p>
            </ul>
        </div>
    </section>

    <section id="projects" class="projects">
        <div class="container">
            <h2>Languages:</h2>
            <ul class="skills-list">
                <li>English, German, Bulgarian</li>
            </ul>
            <p></p>
            <h2>Additional Skills:</h2>
            <p>I'm always eager to learn and grow. Here are some additional skills I've acquired:</p>
            <p>Management Skills, as my current work Team Manager is.</p>
            <p>Networking Skills</p>
            <p>Windows and Linux Skills</p>
            <p>MS Office</p>
            <p></p>
        </div>
    </section>
</section>