.skills {
    background: linear-gradient(to bottom, #f9f9f9, #e6e6e6);
    padding: 50px 20px;
    text-align: center;
}

.skills h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #333;
    background-color: aqua;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 4px;
    display: inline-block;
    border: 2px solid #007bff;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.skill {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.skill:hover {
    transform: translateY(-10px);
}

.skill i {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 10px;
}

.skill p {
    font-size: 1.2rem;
    color: #333;
    margin: 0;
}

/* .highlight {
    background: #007bff;
    color: #fff;
} */

.languages-list, .additional-skills {
    list-style: none;
    padding: 0;
    font-size: 1.1rem;
    margin: 20px 0;
}

.languages-list li, .additional-skills li {
    margin: 5px 0;
    color: #555;
}

li {
    font-size: 18px;
    color: #4694bb;
    margin-left: 25px;
    margin-right: 25px;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: blue;
        font-size: 22px;
        text-decoration: underline;
        margin-left: 30px;
        margin-right: 30px;
    }
}
/* .main {
    display: inline;
    font-style: inherit;
    font-size: 20px;
    
}
h2 {
    font-size: 30px;
    font-weight: 600;
    color: #290961;
    margin-bottom: 20px;
    margin-left: 25px;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: blue;
        text-decoration: underline;
        font-size: 40px;
    }
}
li:hover{
    background-color: #38ac2d;
    transition: all 0.3s ease-in-out;
    padding: 20px 10px;
    color: white;
    margin-left: 10px;
    margin-right: 50px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 18px;
    color: #4694bb;
    margin-left: 25px;
    margin-right: 25px;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: blue;
        font-size: 22px;
        text-decoration: underline;
        margin-left: 30px;
        margin-right: 30px;
    }
}

p:hover {
    background-color: #38ac2d;
    transition: all 0.3s ease-in-out;
    padding: 20px 10px;
    color: white;
    margin-left: 10px;
    margin-right: 50px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
} */

