<section class="main">
    <div class="first">
        <p class="first">Welcome to our</p>
        <p class="first">Mini-Games Section</p>
        <div>
            <p class="first">Games:</p>
        </div>
    </div>
    <div class="games">
        <p class="textarea2">Play Tick Tack Toe:</p>
        <button routerLink="/tictac" (ngSubmit)="onSubmit()" class="button" type="button">Play</button>
    </div>
    <div class="games">
        <p class="textarea2">Play Math Game:</p>
        <button routerLink="/math" (ngSubmit)="onSubmit()" class="button" type="button">Play</button>
    </div>
    <div class="games">
        <p class="textarea2">Play Snake Game:</p>
        <button routerLink="/snake-game" (ngSubmit)="onSubmit()" class="button" type="button">Play</button>
    </div>
</section>