.first {
    text-align: center;
    color: blue;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 16px;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}
.games{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.textarea2 {
    width: 25%;
    margin-bottom: 20px;
    padding: 10px; 
    border-radius: 2px;
    resize: none;
    transition: all 0.3s ease-in-out;
    outline: none;
    font-size: 35px;
    color: rgb(27, 111, 51);
}

.button {
    color: white;
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.button:hover {
    color: blue;
}


