h2 {
    text-align: center;
    font-size: 42px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    display: flex;
  }
  .pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border-radius: 30%;
    background-color: #f8f9fa;
    margin-top: 100px;
    margin-left: 550px;
  }
  .question, .score {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }
  .input-area {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .input-area input {
    font-size: 18px;
    padding: 10px;
    width: 100px;
    margin-right: 10px;
  }
  .input-area button {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    background-color: #4682b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .input-area button:hover {
    background-color: #5a9bd6;
  }
  .feedback p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  .correct {
    color: green;
  }
  .incorrect {
    color: red;
  }
  .btn {
    margin-top: 20px;
    justify-content: center;
    color:rgb(2, 95, 2);
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-style: inherit;
    text-shadow: #4682b4;
    background-color: #eaf342;
    font-weight: bold;
    border-radius: 15%;
    margin-bottom: 150px;
  }