<header class="header">
    <div class="container">
        <h1 class="logo">Delsizov Protfolio</h1>
        <nav class="nav">
            <ul>
                <!-- <li><a  class="user" routerLink="/auth/login">Login</a></li> -->
                <!-- <li><a class="user" routerLink="/auth/register">Register</a></li> -->
                <!-- <li><a class="user"  routerLink="/auth/profile">Profile</a></li> -->
                <!-- <li><a class="user" routerLink="/auth/logout">Logout</a></li> -->
                <li><a class="nav1" routerLink="/home">Home</a></li>
                <li><a class="nav1" routerLink="/skills">Skills</a></li>
                <li><a class="nav1" routerLink="/projects">Projects</a></li>
                <li><a class="nav1" routerLink="/mini-games">Mini Gams</a></li>
                <li><a class="nav1" routerLink="/contact">Blog</a></li>
                <li><a class="nav1" routerLink="/about">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- *ngIf="!isLoggedIn" -->