.header {
    background-color: rgba(137, 43, 226, 0.703);
    color: #ccdda2de;
    padding-bottom: 6px;
    padding-top: 2px;
}
.header .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 30px;
    transition: color 0.3s ease-in-out;
}
.header .nav ul {
    list-style: none;
    justify-content: flex-end;
    padding: 10px;
    display: flex;
    gap: 20px;
}
.header .nav p {
    text-align: left;
    margin-left: 10px;
    margin-right: 80px;
}
.header .nav a {
    color: #6cf073e8;
    text-decoration: none;

    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left:0;
        height:100%;
        width: 100%;
        z-index:-1;
        transition: .2s;
        border-radius: 25px;
    }
        &:hover {
            &::before {
                background: linear-gradient(to bottom, #1e297c, #7155a7);
                    box-shadow: 0px 3px 20px 0px rgb(73, 4, 9);
                    transform: scale(1.2);
            }
            color:  rgb(73, 4, 9);
    }
}
