<header class="header">
    <div class="container">
        <a href="/home" class="logo">Delsizov Protfolio</a>
        <!-- <a href="/search" class="login">Login</a> -->
        <nav class="nav">
            <ul>
                <!-- <li><a  class="user" routerLink="/auth/login">Login</a></li> -->
                <!-- <li><a class="user" routerLink="/auth/register">Register</a></li> -->
                <!-- <li><a class="user"  routerLink="/auth/profile">Profile</a></li> -->
                <!-- <li><a class="user" routerLink="/auth/logout">Logout</a></li> -->
                <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a class="nav-link" routerLink="/skills" routerLinkActive="active">Skills</a></li>
                <li><a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a></li>
                <li><a class="nav-link" routerLink="/mini-games" routerLinkActive="active">Mini Gams</a></li>
                <li><a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a></li>
                <!-- <li><a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a></li> -->
                <li><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- *ngIf="!isLoggedIn" -->