
<body>
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div>
        <div class="errorContainer">
            <p>Error</p>
        </div>
    </div> -->

    <div id="container">

     
        <section id="homePage" class="background-img">
            <div class="introduction">
                <h1>The Trusted Wholesale Marketplace for Used Electronics</h1>
                <p>Each year, 50 million tons of IT gear reaches end-of-life. Tradeloop is where companies safely buy, repair, recycle, and resell it. How it works?</p>
            </div>
        </section>

        <footer>@SoftUni - JS Back-End - Second Hand Electronics 2023</footer>
    </div>

</body>
