<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Second Hand Electronics</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

   <nav>
            <ul>
                <!--For all users-->
                <li><a href="/">Home</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <!--For loggin users-->
                <li><a href="/create">Create Offer</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/logout">Logout</a></li>
                <!--For guest user-->
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>

            </ul>

        </nav>


</html>