<footer class="footer-distributed">

      <div class="footer-left">

        <h3>Company<span>logo</span> </h3> <img class="logo1" src="../../../assets/pictures/logos/sntR.png">"

        <p class="footer-links">
          <a href="#" class="link-1">Home</a>
          
          <a href="#">Blog</a>
        
          <a href="#">About</a>
          
          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">Company Name: Regiocom© </p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Bul. Tsarigradsko Shose 159</span> Sofia, Bulgaria</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+359878628188</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:svetlomir.delsizov@regiocom.com">svetlomir.delsizov@regiocom.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          German Call Center, with happy workers.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>