
.nav-a {
    color:black;
    text-decoration: none;
    padding: 9px;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.collapse navbar-collapse{
    max-height: 10;
    overflow: hidden;
    transition: max-height 0.3s ease;
}