<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"><a routerLink="/auth/login">LOGIN</a></h2>
    <h2 class="inactive underlineHover"><a routerLink="/auth/register">REGISTER</a></h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/pictures/logos/login.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Register Form -->
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
      <div formGroupName="passGroup" class="pass">
        <div class="pass">
          <p><label for="email"><span><i class="pass"></i></span></label>
            <input type="email" form="email" id="email" class="pass" name="email" placeholder="Email"
              formControlName="email" [ngModel]="registerForm" required email #emailInput>
          </p>
          <p><label for="password"><span><i class="pass"></i></span></label>
            <input type="password" form="password" id="password" class="pass" name="password" placeholder="Password"
              formControlName="password">
          </p>

            <p><label for="password"><span><i class="pass"></i></span></label>
              <input type="password" form="confirmPassword" id="confirmPassword" class="pass" name="confirmPassword"
              placeholder="Repeat Password" formControlName="confirmPassword" (ngModel)="registerForm" required
              #passwordInput>
            </p>
        </div>


        <ng-container *ngIf="registerForm.get('email')?.touched">
          <p class="error" *ngIf="registerForm.get('email')?.errors?.['required']">
            Email is required!
          </p>
          <p class="error" *ngIf="registerForm.get('email')?.errors?.['emailValidator']">
            Email is not valid!
          </p>
        </ng-container>

        <div *ngIf="registerForm.touched && registerForm.invalid">
          <div *ngIf="registerForm.errors?.['required']" class="error">Email is required !</div>
          <div *ngIf="registerForm.errors?.['email']" class="error">Email is invalid !</div>
          <div *ngIf="registerForm.errors?.['pattern']" class="error">Email is invalid !</div>
          <div *ngIf="registerForm.errors?.['minlength']" class="error">Email is invalid !</div>
          <div *ngIf="registerForm.errors?.['maxlength']" class="error">Email is invalid !</div>
        </div>

        <!-- Display password confirmation error -->
        <div *ngIf="passwordMismatch">
          <p class="error">
            Password and confirmPassword do not match!
          </p>
        </div>


        <!-- <ng-container *ngIf="passGroup?.get('rePassword')?.touched">
          <p
            class="error"
            *ngIf="passGroup?.errors?.['matchPasswordsValidator'] || 
            passGroup?.get('rePassword')?.errors?.['required']"
          >
           The Repeat Password does not match password!
          </p>
        </ng-container> -->

        <input (click)="registerSubmit()" type="Submit" class="fadeIn fourth" value="Register">

      </div>
      <div>
        <button type="button" (click)="registerSubmit()">Register Here</button>
      </div>
    </form>
  </div>
</div>