<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"><a routerLink="/auth/login">LOGIN</a></h2>
    <h2 class="inactive underlineHover"><a routerLink="/auth/register">REGISTER</a></h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/pictures/logos/login.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Register Form -->
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
      <div formGroupName="passGroup" class="pass">
        <div class="pass">
          <p><label for="email"><span><i class="pass"></i></span></label>
            <input type="email" id="email" class="pass" name="email" placeholder="Email"
              formControlName="email" required email #emailInput>
          </p>
          <p><label for="password"><span><i class="pass"></i></span></label>
            <input type="password" id="password" class="pass" name="password" placeholder="Password"
              formControlName="password">
          </p>
          <p><label for="confirmPassword"><span><i class="pass"></i></span></label>
            <input type="password" id="confirmPassword" class="pass" name="confirmPassword"
              placeholder="Repeat Password" formControlName="confirmPassword" required #passwordInput>
          </p>
        </div>
    
        <!-- Error messages for email -->
        <ng-container *ngIf="emailInvalid">
          <p class="error" *ngIf="emailRequired">
            Email is required!
          </p>
          <p class="error" *ngIf="emailInvalidFormat">
            Email is not valid!
          </p>
        </ng-container>
    
        <!-- Error messages for password -->
        <ng-container *ngIf="registerForm.get('passGroup.password')?.touched">
          <p class="error" *ngIf="registerForm.get('passGroup.password')?.errors?.['required']">
            Password is required!
          </p>
        </ng-container>
    
        <!-- Error messages for confirmPassword -->
        <ng-container *ngIf="registerForm.get('passGroup.confirmPassword')?.touched">
          <p class="error" *ngIf="registerForm.get('passGroup.confirmPassword')?.errors?.['required']">
            Confirm Password is required!
          </p>
        </ng-container>
    
        <!-- Display password confirmation error -->
        <div *ngIf="passwordMismatch">
          <p class="error">
            Password and confirmPassword do not match!
          </p>
        </div>
    
        <input type="submit" class="fadeIn fourth" value="Register">
      </div>
      <div>
        <a class="active">For new Users please<button type="button" class="bttn" routerLink="/auth/login">Register Here</button>.</a>
      </div>
    </form>
    
    
    
  </div>
</div>