<div class="first">
    <p>1</p>
    <p>1</p>
    <p>About Page</p>
    <p>Page for Game Catalogs and Reviles</p>
    <p>Different Comments and Stars Reviews</p>
</div>
<div class="primal">
    <p>Contact Page</p>
    <p>Form for Contacting the Game-Port Website</p>
    <p>Phone Number, Email, and Social Media Links</p>
</div>
<div class="first">
    <p>Game Details Page</p>
    <p>Game Information, Description, Reviews, and Ratings</p>
    <p>Comments Section with User Reviews</p>
</div>

<div class="primal">
    <p>User Profile Page</p>
    <p>User Information, Games Bought, and Purchases</p>
    <p>Edit Profile, Change Password, and Logout</p>
</div>

<app-comment-section></app-comment-section>
