<div class="project-list">
    <div class="project-item">
        <h3>Project 1: This web page</h3>
        <p>Its build on Angular for the Front-end and Node.js for the Back-end.</p>
    </div>
    <div class="project-item">
        <h3>Project 2: is in my GitHub repository.</h3>
        <p>Description:</p>
        <p>is made for Game Blog adding games to Catalog, creating a user and with them adding the games to Catalog.</p>
        <a href="https://github.com/xzibit8807/JavaScript-Files/tree/main/Soft%20Uni%20Academy/06.JS%20Angular/Project-Exam">Link for the repository</a>
    </div>
    <div class="project-item">
        <h3>Project 3: Excel to MongoDB </h3>
        <p>Description: </p>
        <p>Adding Excel files to a web page, to be able to use the Data in the Web Page. Its build with Node.js .</p>
        <a href="https://github.com/xzibit8807/JavaScript-Files/tree/main/Own%20Projects/Excell%20to%20MongoDB">Link to the repository</a>
    </div>
</div>