<main class="main">
    <section class="hero">
        <div class="container">
            <h2>Hi, I'm Svetlomir Delsizov</h2>
            <p>A passionate programmer and web developer.</p>
            <a href="projects" class="btn">View My Work</a>
        </div>
    </section>


    <section id="contact" class="contact">
        <div class="container">
            <h2>Contact information</h2>
            <a href="https://facebook.com/svetlomir.delsizov">Facebook: Svetlomir Delsizov </a>
            <p></p>
            <a>Instagram: svetlomir_delsizov</a>
            <p></p>
            <a href="https://github.com/xzibit8807" class="btn">GitHub: xzibit8807</a>
            <p></p>
            <a href="https://bg.linkedin.com/in/svetlomir-delsizov-9a4642277?trk=people-guest_people_search-card">LinkedIn: Svetlomir Delsizov</a>
            <p></p>
            <a href="svetlomir.delsizov@outlook.com" class="btn">Feel free to reach out to me for collaboration or inquiries.</a>
            <p></p>
            <a href="svetlomir.delsizov@outlook.com" class="btn">Get in Touch with Mail.</a>
            <p></p>
        </div>
    </section>
</main>

