
  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="gradient skew"><h1 class="logo un-skew"><a routerLink="/home">Game Port</a></h1></span>
      </div>
      <div class="nav right">
        <a *ngIf="!isLoggedIn" routerLink="/auth/login" routerLinkActive="active" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">Login</span></span>
        </a>
        <a *ngIf="!isLoggedIn" routerLink="/auth/register" routerLinkActive="active" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">Register</span></span>
        </a>
        <a routerLink="/home" routerLinkActive="active" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">Home</span></span>
        </a>
        <a routerLink="/about" routerLinkActive="active" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">About</span></span>
        </a>
        <a routerLink="/contact" routerLinkActive="active" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">Contact</span></span>
        </a>
        <a *ngIf="isLoggedIn" routerLink="/mini-games" class="nav-link"><span class="nav-link-span"><span class="u-nav">Mini-Games</span></span>
        </a>
        <a *ngIf="isLoggedIn" routerLink="/catalog" routerLinkActive="active" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">Games-Catalog</span></span>
        </a>
        <a *ngIf="isLoggedIn" routerLink="/add-game" routerLinkActive="active" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">Add-Game</span></span>
        </a>
        <a *ngIf="isLoggedIn" routerLink="/auth/profile" routerLinkActive="active" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">Profile</span></span>
        </a>
        <a *ngIf="isLoggedIn" routerLink="/auth/logout" routerLinkActive="active" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">Logout</span></span>
        </a>
      </div>
      
    </nav>
  </header>


