<div class="first">
    <p class="textarea">More information's </p>
    <p class="textarea">Street: Somewhere there Number 1</p>
    <p class="textarea">City: Secret City</p>
</div>
<div><p class="first">Games:</p></div>
<div class="games">
    <p class="textarea2">Play Tic Tac Toe:</p>
    <button  routerLink="/tictac" (ngSubmit)="onSubmit()" class="button" type="button">Play</button>
</div>
<div class="games">
    <p class="textarea2">Play Math Game:</p>
    <button  routerLink="/math" (ngSubmit)="onSubmit()" class="button" type="button">Play</button>
</div>