.comment-form {
    margin-bottom: 20px;
  }
  
  .comment-list {
    border: 2px solid #59cf7a;
    background-color: rgb(179, 238, 180);
    padding-top: 20px;
    text-align: center;
  }
  
  .comment {
    background-color: bisque;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 25%;
    border-bottom: 4px solid #622f87;
    border-top: 4px solid #622f87;
    border-left: 4px solid #622f87;
    border-right: 4px solid #622f87;
    width: 50%;
    height: 150px;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.text {
  color: rgb(215, 167, 239);
  font-size: 23px;
  font-style: oblique;
  font-weight: bold;
  display: block;
  text-align: center;
  background-color: rgb(8, 8, 8);
  border: 2px solid #56baed;
  border-radius: 10px;
  width: 20%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40%;
  margin-right: 20px;
}  

.textarea {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: rgb(104, 19, 94);
  font-weight: bold;
  width: 30%;
  height: 10px;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 34%;
  margin-right: 20px;
  padding: 10px;
  border: 2px solid #56baed;
  border-radius: 10px;
}

.textarea2 {
  text-align: center;
  font-size: 20px;
  width: 80%;
  height: 100px;
  resize: none;
  color: rgb(104, 19, 94);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 9%;
  margin-right: 20px;
  padding: 10px;
  border: 2px solid #56baed;
  border-radius: 10px;
}

.btn {
  color: darkblue;
  background-color: violet;
  border: 2px solid #181e98;
  border-radius: 30px;
  border-right-color: rgb(34, 183, 183);
  border-left-color: rgb(34, 183, 183);
  font-size: 25px;
  font-style: oblique;
  width: 13%;
  height: 47px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 44%;
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 5;
  filter: blur(0);
  color:greenyellow;
  background:blue;
}