<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active" RouterLink="/auth/login"> Sign In </h2>
      <h2 class="inactive underlineHover" RouterLink="/auth/register">Sign Up </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/pictures/logos/login.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" ngModel>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" ngModel>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Password, not yet done still in progress -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->
  
    </div>
  </div>