<div class="wrapper fadeInDown">
  <div id="form-group">
    <!-- Tabs Titles -->
    <h2 class="active" RouterLink="/auth/login"> Sign In </h2>
    <h2 class="inactive underlineHover" RouterLink="/auth/register">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/pictures/logos/login.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" ngModel required email
        #emailInput="ngModel">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" ngModel required #passwordInput="ngModel">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    
    <div *ngIf="passwordInput.touched">
      <div *ngIf="passwordInput.errors?.['required']"> Password is required !</div>
    </div>
    <div *ngIf="emailInput.touched">
      <div *ngIf="emailInput.errors?.['required']" class="error">Email is required !</div>
      <div *ngIf="emailInput.errors?.['email']" class="error">Email is invalid !</div>
      <div *ngIf="emailInput.errors?.['pattern']" class="error">Email is invalid !</div>
      <div *ngIf="emailInput.errors?.['minlength']" class="error">Email is invalid !</div>
      <div *ngIf="emailInput.errors?.['maxlength']" class="error">Email is invalid !</div>
    </div>
    
    
    <!-- Remind Password, not yet done still in progress -->
    <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->

  </div>
</div>